WebApplication4/WebApplication4/Connected Services/WS_Rastreo/Rastreo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RastrearViajeUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RastrearViajeUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RastrearViajeUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RastrearViajePiloto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idPiloto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RastrearViajePilotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RastrearViajePilotoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RastrearViajeUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:RastrearViajeUsuario" />
  </wsdl:message>
  <wsdl:message name="RastrearViajeUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:RastrearViajeUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="RastrearViajePilotoSoapIn">
    <wsdl:part name="parameters" element="tns:RastrearViajePiloto" />
  </wsdl:message>
  <wsdl:message name="RastrearViajePilotoSoapOut">
    <wsdl:part name="parameters" element="tns:RastrearViajePilotoResponse" />
  </wsdl:message>
  <wsdl:portType name="RastreoSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RastrearViajeUsuario">
      <wsdl:input message="tns:RastrearViajeUsuarioSoapIn" />
      <wsdl:output message="tns:RastrearViajeUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RastrearViajePiloto">
      <wsdl:input message="tns:RastrearViajePilotoSoapIn" />
      <wsdl:output message="tns:RastrearViajePilotoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RastreoSoap" type="tns:RastreoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RastrearViajeUsuario">
      <soap:operation soapAction="http://tempuri.org/RastrearViajeUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RastrearViajePiloto">
      <soap:operation soapAction="http://tempuri.org/RastrearViajePiloto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RastreoSoap12" type="tns:RastreoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RastrearViajeUsuario">
      <soap12:operation soapAction="http://tempuri.org/RastrearViajeUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RastrearViajePiloto">
      <soap12:operation soapAction="http://tempuri.org/RastrearViajePiloto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Rastreo">
    <wsdl:port name="RastreoSoap" binding="tns:RastreoSoap">
      <soap:address location="https://localhost:44351/Rastreo.asmx" />
    </wsdl:port>
    <wsdl:port name="RastreoSoap12" binding="tns:RastreoSoap12">
      <soap12:address location="https://localhost:44351/Rastreo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>