openEsb/pr/PruebaCA/src/jbiasa/PruebaCA.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="PruebaCA"
             xmlns:tns="PruebaCA" xmlns:ns="http://j2ee.netbeans.org/wsdl/BpelModule1/src/newWSDL" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://tempuri.org/" xmlns:ns2="http://j2ee.netbeans.org/wsdl/BpelModule1/src/pilotosWSDL">
    <import namespace="http://j2ee.netbeans.org/wsdl/BpelModule1/src/newWSDL" location="../jbiServiceUnits/BpelModule1/newWSDL.wsdl"/>
    <import namespace="http://tempuri.org/" location="../jbiServiceUnits/BpelModule1/localhost_44388/Actividades_Usuario.asmx.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/BpelModule1/src/pilotosWSDL" location="../jbiServiceUnits/BpelModule1/pilotosWSDL.wsdl"/>
    <import namespace="http://tempuri.org/" location="../jbiServiceUnits/BpelModule1/localhost_44387/WebService1.asmx.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns2:pilotosWSDLPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="pilotosWSDLOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="PruebaCA"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="PruebaCA"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns1:WebService1Soap">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="HelloWorld">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AgregarPiloto">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FinalizarViaje">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding3" type="ns:newWSDLPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="newWSDLOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="PruebaCA"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="PruebaCA"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding4" type="ns1:Actividades_UsuarioSoap">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="HelloWorld">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="RegistrarUsuario">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="logIn">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="PedirViaje">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FinalizarViaje">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="PruebaCAService1">
        <port name="regPiloto" binding="tns:casaBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/PruebaCAService1/regPiloto"/>
        </port>
    </service>
    <service name="PruebaCAService2">
        <port name="regPiloto_RESULT" binding="tns:casaBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/PruebaCAService2/regPiloto_RESULT"/>
        </port>
    </service>
    <service name="PruebaCAService3">
        <port name="regUsuario" binding="tns:casaBinding3">
            <soap:address location="http://localhost:${HttpDefaultPort}/PruebaCAService3/regUsuario"/>
        </port>
    </service>
    <service name="PruebaCAService4">
        <port name="regUsuario_RESULT" binding="tns:casaBinding4">
            <soap:address location="http://localhost:${HttpDefaultPort}/PruebaCAService4/regUsuario_RESULT"/>
        </port>
    </service>
</definitions>
